body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #333;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  flex: 1;
  margin-right: 20px;
}

.chart-container {
  flex: 1;
  margin-left: 20px;
}

h1, h2 {
  color: #fff;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 2px solid #0078d7; /* Bluish color similar to Perplexity */
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #555;
  color: #fff;
}

input::placeholder, select::placeholder {
  color: #fff; /* Set placeholder text color to white */
}

input:focus, select:focus {
  border-color: #0078d7;
  outline: none;
}

button {
  background-color: #111;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background-color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chart-container {
  margin-top: 20px;
}
